<h1 mat-dialog-title>Add Base</h1>
<div mat-dialog-content>
  <mat-card-subtitle>Enter the details of the base. Hover over the text area for tip!</mat-card-subtitle>
  <br>
  <form [formGroup]="form">
    <mat-form-field style="width: 100%">
      <input matInput placeholder="Name" formControlName="name" [matTooltip]="tooltip[0]">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%">
      <input matInput placeholder="MAC Address" formControlName="macAddress" [matTooltip]="tooltip[1]">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%">
      <input matInput placeholder="Address" formControlName="location" [matTooltip]="tooltip[2]">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%">
      <input matInput placeholder="Email" formControlName="email" [matTooltip]="tooltip[3]">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="submit()" *ngIf="!showUpdateButton">Save</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="update()" *ngIf="showUpdateButton">Update</button>
</div>
