<!--source: https://github.com/thisiszoaib/angular-responsive-sidebar-->
<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Sensor Safe
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button">
      <mat-icon>add</mat-icon>
      <span>Add station</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" *ngFor="let station of stations">
      <mat-icon>home</mat-icon>
      <span (click)="onClick(station.id)" >{{ station.name }}</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <app-card></app-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
