<!--source: https://github.com/thisiszoaib/angular-responsive-sidebar-->
<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close</mat-icon>
  </button>
  Sensor Safe
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <button mat-button class="menu-button" (click)="openModal(null)">
      <mat-icon>add</mat-icon>
      <span>Add Base</span>
    </button>
    <mat-divider></mat-divider>

    <div *ngFor="let station of stations">
      <div style="display: flex; justify-content: space-between; align-items: center;">
            <button mat-button class="menu-button" (click)="onClick(station.id)">
              <mat-icon>home</mat-icon>
            <span>{{ station.name }}</span>
            </button>

            <button mat-button (click)="openModal(station.id)" style="margin-left: auto">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-button (click)="delete(station.id)" style="margin-left: auto">
              <mat-icon>delete</mat-icon>
            </button>

      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <app-card></app-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
